# Activar RewriteEngine

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#todo lo que venga por la url lo sobrrescribimos en index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
